<div class="card">
  <div class="card-header-container">
    <h2>Why MVC is so important</h2>
    <p>Posted by Naz on 03/31/2005</p>
  </div>
  <div id="language-buttons" class="card-body">
    <p class="user-message">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint vitae veritatis dolore, velit excepturi
      exercitationem accusantium dolores cum quo tenetur.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-header-container">
    <h2>Why MVC is so important</h2>
    <p>Posted by Naz on 03/31/2005</p>
  </div>
  <div id="language-buttons" class="card-body">
    <p class="user-message">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint vitae veritatis dolore, velit excepturi
      exercitationem accusantium dolores cum quo tenetur.
    </p>
  </div>
</div>