<div class="card">
    <h2 class="card-header">Sign Up</h2>
    <form id="user-form" class="card-body">
        <!-- Username -->
        <label class="form-label" for="username">Username</label>
        <input name="username" id="username" type="text" autofocus="true" class="form-input" />
        <!-- Password -->
        <label class="form-label" for="password">Password</label>
        <input name="password" id="password" type="password" autofocus="true" class="form-input" />
        <!-- Button -->
        <button type="submit" id="btn">Sign Up!</button>
        <a class="login-option" href="/Login">Login instead</a>
    </form>
</div>