* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Delcaring Variables */
:root {
  --primary: #ccdad1;
  --light-dark: #6f6866;
  --dark: #2c1000;
  --border-radius: .5rem;
}

body {
  background: var(--primary);
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

/* Main Container */
main {
  margin: 20px auto;
  width: 94%;
}

p {
  font-size: 1rem;
}

.user-message {
  font-size: 1.2rem;
}

a {
  color: var(--primary);
  font-size: 20px;
  text-decoration: none;
}

/* Header and Navigation Styles */
header div {
  display: flex;
  column-gap: 60px;
  margin-bottom: 20px;
}

header {
  padding: 2% 4%;
  background-color: var(--dark);
  color: var(--primary);
}

h1 {
  font-size: 2.2rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 30px;
  display: inline-block;
  border-radius: .5rem;
  box-shadow: 6px 5px var(--light-dark);
}

/* CARDS */
.card-header-container {
  color: var(--primary);
  background-color: var(--dark);
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
}
.card:hover {
  cursor: pointer;
}

.card-body {
  padding: 2% 2% 1.5% 2%;
}