* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Delcaring Variables */
:root {
    --primary: #ccdad1;
    --light-dark: #6f6866;
    --dark: #2c1000;
    --border-radius: .5rem;
}

body {
    background: var(--primary);
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}

/* Main Container */
main {
    margin: 20px auto;
    width: 94%;
}

p {
    font-size: 1rem;
}

.user-message {
    font-size: 1.3rem;
}

a {
    color: var(--primary);
    font-size: 20px;
    text-decoration: none;
}

/* Header and Navigation Styles */
header div {
    display: flex;
    column-gap: 60px;
    margin-bottom: 20px;
}

header {
    padding: 2% 4%;
    background-color: var(--dark);
    color: var(--primary);
}

h1 {
    font-size: 2.2rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 30px;
    display: inline-block;
    border-radius: .5rem;
    box-shadow: 6px 5px var(--light-dark);
}

/* CARDS */
.card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
}

.card-body {
    padding: 2.5%;
}

/* Button Styles */
#btn {
    font-size: 1.3rem;
    padding: 10px 10px;
    width: 100%;
    display: block;
    margin: 5px 0 20px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
}

#btn:hover {
    color: var(--primary);
    background-color: #2c100060;
    cursor: pointer;
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}

.login-option {
    color: #0000ff;
    font-size: 1.4rem;
}

.login-option:hover {
    color: #0000ff72;
    transition: color .5s;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
    display: block;
}

.form-label {
    font-size: 1.1rem;
}

.form-input {
    width: 100%;
    padding: 12px 12px;
    margin: 5px 0 20px 0;
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
}